body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1528825871115-3581a5387919?auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  color: #333;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
}

a.text-decoration-none:hover {
  text-decoration: underline;
  color: #b30000;
}
