body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-image: url('jufi.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
}

a.text-decoration-none:hover {
  text-decoration: underline;
  color: #b30000;
}
